body {
  font-family: objektiv-mk3, sans-serif;
}

.item1 { grid-area: header; }
.hero{grid-area:hero;}
.item2 { grid-area: mainOne; }
.item3 { grid-area: mainTwo; }
.item4 {grid-area:mainThree}
.item5 { grid-area: rightOne; }
.item6 { grid-area: rightTwo; }
.item7 { grid-area: rightThree; }
.item9 { grid-area: footer; }
.item10 { grid-area: footerTwo; }

.grid-container { width: auto; height: auto;
display: grid;
grid-template-rows: auto;
  grid-template-columns: 70% auto;
grid-template-areas:
  'header  header' 
  'hero  hero'
  'mainOne  rightOne'
  'mainTwo rightTwo'
  'mainThree   rightThree'
  'footer  footer'
  'footerTwo   footerTwo';
grid-row-gap: 200px;
background-color: #ffffff;


    margin:50px; 
    padding:50px; 
    background-color:rgb(255, 255, 255); 
}

.item2 , .item3, .item4, .item5, .item6, .item7
{
    opacity:0;
}



.item1{display:inline-grid; 
grid-template-columns:  70% auto auto auto;
align-items: center;}

.grid-container , .item1, .logo {margin-left: 40px;}


.hero h {font-family: objektiv-mk1, sans-serif;
  font-weight: 700;
  font-style: normal;
font-size: 40px; }

.hero{ width: 50%; margin-left: 200px; animation: slideMe 1.5s ease-in;
 }

@keyframes slideMe {
  0% {transform: translate( -500px , 0px) ; }

  100% {transform: translateY(0px , 0px);}

  0%   { opacity: 0; }
  100% { opacity: 1; }
}



.underline {height: 10px; width: 150px; background-color: black;
   justify-self: left; margin-top: 30px;}


.item2 {align-self:initial; padding-left:10px; }
.grid-container .item2 h {font-weight: bold; }

.item5 {align-self: center; justify-self:center;}

.item3 {align-self: initial; padding: left 10px; }
.grid-container .item3 h {font-weight: bold;}

.item6 {align-self: center; justify-self:center;}

.item4 {align-self: initial; padding-left:10px; }
.grid-container .item4 h {font-weight: bold;}

.item7 {align-self: center; justify-self:center;}

h{font-size: 25px; margin-left: 40px;}
p{font-size: 20px;margin-left: 40px;}



@media screen and (max-width:600px)
{ .grid-container {
display: grid;
grid-template-areas:
  'header'  
  'rightOne'
  'mainOne' 
  'rightTwo'
  'mainTwo' 
  'rightThree'
  'mainThree' 
  'footerTwo' 
  'footer'}
}
@media screen and (max-width:600px)
{ 
  .social1{display:none}
.social2{display:none}
.social3{display:none}

}


